SQLAlchemy>=2.0
fastapi>=0.110
uvicorn[standard]>=0.15.0
passlib[bcrypt]>=1.7
python-multipart>=0.0.9
email-validator>=2.0
python-dotenv>=1.0
PyJWT>=2.3.0
requests
fastapi_jwt
python-jose
authlib
pymysql
pandas
scikit-learn
lightfm==1.16
numpy==1.23.5
scipy==1.9.3